/* Main body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
}


span {
  margin-top: 10px;
  font-size: 2.25em;
  color: black;
  font-weight: bold;
  text-align: center;

  text-shadow:
    -2px -2px 5px violet,
    /* Top-left */
    2px -2px 5px violet,
    /* Top-right */
    -2px 2px 5px violet,
    /* Bottom-left */
    2px 2px 5px violet,
    /* Bottom-right */
    0px 0px 5px violet;

  /* Glowing effect */
}

img {
  align-items: center;
  /* Centers items horizontally */
  width: 200px;

  margin-right: 5px;
  border-radius: 20px;
  box-shadow:
    0 0 100px violet,
    /* soft glow */
    0 0 10px rgba(238, 130, 238, 0.6);
}

.banner {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

}



/* Banner content styling */

/* Form container styling */
form {
  margin-top: 30px;
  background-color: #1e1e1e;
  border: 4px solid violet;
  border-radius: 10px;
  padding: 40px;
  padding-right: 50px;
  display: inline-block;
  text-align: left;


}

select option[disabled] {
  color: #c20f0f;
  /* Adjust color for faded appearance */
}

label {
  color: violet;
  font-weight: bold;
  font-size: 1.25em;

}


/* Styling inputs and select boxes */
input[type="date"],
select {
  background-color: #282828;
  color: #ffffff;
  padding: 8px;
  border: 2px solid violet;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 0 8px violet;
  margin-top: 5px;
  font-size: 1.25em;

}

/* Button styling */
button {
  background-color: violet;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px violet;
  font-weight: bold;
  font-size: 1.25em;
  margin-top: 5px;
}

button:hover {
  background-color: #9a3dcf;
}



input[type="date"] {
  background-color: #222;
  color: white;
  border: 2px solid violet;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.25em;
  outline: none;
}

/* Style the calendar dropdown */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* Makes the calendar icon white */
  cursor: pointer;
}

/* For Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  filter: invert(1);
}